@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50 ;
}

@layer utilities {
  .transition-custom {
    transition: transform 0.3s ease-in-out;
  };
    .transition-navbar {
      transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    }
}

.menu-btn {
  @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 transition-custom active:scale-95;
}

.navbar {
  @apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-navbar;
}

.navbar .active{
  @apply opacity-100 scale-100 blur
}